*{padding:0; margin:0; box-sizing: border-box;}
body{
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    
}
:root{
    --primary:rgb(90, 90, 237);
    --secondary:rgb(15, 6, 6);
    --light:rgb(96, 85, 85);
}
header{
    width:100%;
    height:100vh;
}
.nav1{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 5px 0px 3px grey;
    text-align: center;
}
.nav1 .left{
    flex-basis: 50%;
    letter-spacing: 2px;
}
.nav1 .left a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    margin: 1px 4px;
}
.right{
    flex-basis: 50%;
}
.right i{
    font-size: 10px;
    margin: 0px 15px;
    background-color: var(--primary);
    color: aliceblue;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}
.nav1 .right i:hover{
    transform: rotate(360deg);
}
.nav2{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.nav2 .nav2-left,.nav2 .nav2-center,.nav2 .nav2-right{
    flex-basis: 30%;
    margin:auto;
    cursor: pointer;
}
.nav2 .nav2-left i{
    margin-left: 15px;
}
.nav2 .nav2-center h1{
    color: rgb(192, 45, 45);
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: bold;
}
.nav2 .nav2-center h1 span{
    color: rgb(94, 14, 14)
}
.nav2 .nav2-center p{
    color: grey;
    font-size: 15px;
    margin-top: 5px;
}
.nav2 .nav2-right i{
    margin: 0px 4px;
}
.nav3{
    width:100%;
    height:60px;
    line-height: 60px;
}
.nav3 ul{
    list-style:none;
    text-align: center;
    
}
.nav3 ul li{
    display: inline-block;
    width: 250px;
    position: relative;
    z-index: 99;
}
.nav3 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    display: block;
}
.nav3 ul li a:hover{
    color: var(--primary);
}
.nav3 ul li i{
    color: var(--primary);
    margin: 0px 5px;
}
.nav3 ul ul{
    position: absolute;
    top:70px;
    left: 0;
    display: none;

}
.nav3 ul ul li{
    background-color: white;
    border-bottom: 1px solid var(--primary);
}
.nav3 ul li:hover>ul{
display:block;
}
.featured{
    width: 100%;
    height: 60vh;
    background:linear-gradient(to right,rgba(0,0,0,0.8) 20%, rgba(255,255,255,0.2)),url(https://nmgprod.s3.amazonaws.com/media/files/25/75/25759c6130325d960e7d0073a5bb0c9b/cover_image_1701205272.jpg.760x400_q85_crop_upscale.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

.featured-text{
    max-width:500px;
    position: absolute;
    top: 50%;
    left: 10%;
    color: rgb(244, 218, 218);
    padding: 15px;
    font-size: 2rem;
    letter-spacing: 5px;
    font-family: "Akaya Kanadaka", cursive;
}
.featured-text button{
    padding: 10px 20px;
    border:none;
    outline: none;
    background-color: rgb(160, 56, 56);
    margin:20px 0px;
    color: aliceblue;
}
.latest{
    padding: 50px 100px;

}
.product-intro{
    text-align: center;
}
.product-intro h1{
    color: rgb(160, 56, 56);
    letter-spacing: 0.25rem;
    font-size: 2rem;
    font-weight: bolder;
}
.product-intro h1 span{
    color:  rgb(94, 14, 14) ;
}
.product-intro p{
    color: grey;
    margin: 14px 0;

}

.card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 4rem 0;
    flex-wrap: wrap;
}
.card-container .card{
    flex-basis: 20%;
    padding: 0.8rem;
    position:relative;
}
.card img{
    width:100%;
    transition: 0.5s ease-in-out;
}
.card i{
    color: rgb(211, 28, 28);
    margin: 10px 0;

}
.card button{
    color:aliceblue;
    background-color: grey;
    border:none;
    outline: none;
    margin-top: 12px;
    padding: 5px 20px;
}

 .card:hover img, .card:hover h1{
    width: 80%;
    color: var(--primary);

 }
 .card::before{
    content: '30% off ';
    width: 25%;
    height: 25px;
    line-height: 25px;
    color:rgb(15, 12, 12);
    position:absolute;
    top: 0;
    left: 0;
    background-color:  rgb(160, 56, 56);;
    padding: 0px 4px;
    transform: rotate(-25deg);
 }
 .trends{
    padding: 50px 100px;
    background-color: rgba(0,0,0,0.2);
 }
  .trends .swiper-container {
    width: 100%;
    padding: 50px;
    
  }

  .trends .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }

  .trends .swiper-slide img {
    display: block;
    width: 100%;
    height:100%; 
  }
  footer{
    background-color: rgb(61, 58, 58);
    color:aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
  }
  footer div{
    flex-basis: 30%;
  }
  footer h1{
    letter-spacing: 0.5rem;
    color: rgb(192, 45, 45);

  }
  footer h1 span{
    color: rgb(94, 14, 14) ;
  }
  footer p{
    font-size: 1rem;
  }
  footer i{
    margin:0px 5px;
  }
  #sidenav{
    display: none;
  }
  #menubar{
    display: none;
  }
  @media only screen and (max-width:769px){

    #sidenav{
        display: block;
    }
    #menubar{
        display: block;
        position: absolute;
        top:50%;
        right: 0;
        transform: translate(0%,-40%);
        z-index: 99;
        background-color: var(--primary);
        color:aliceblue;
        font-size: 1rem;
        padding: 15px 5px;
        animation: animate 5s ease infinite;
    }
    @keyframes animate {
        0%{
            background-color: grey;
        }
        100%{
            background-color: rgb(164, 51, 51);
        }
        
    }
    #sidenav{
        width:0px;
        height:100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: var(--light);
        padding-top: 70px;
        display: block;
        overflow: hidden;
        transition: 0,5s ease-in-out;

    }
    #sidenav ul{
        list-style:none;   
    }
    #sidenav ul li{
        display: block;
        width: 200px;
        position: relative;
        z-index: 99;
        margin: 10px 20px;
    }
    #sidenav ul li a{
        text-decoration: none;
        color: rgb(241, 236, 236);
        font-weight: 400;
        display: block;
        font-size: 20px;
        padding: 10px 10px;
    }
    #sidenav ul li a:hovert{
        color: var(--primary);
    }
    #sidenav ul li i{
        color: white;
        margin: 0px 5px;
    }
    #sidenav ul ul{
        position: absolute;
        top:70px;
        left: 0;
        display: none;
    
    }
    #sidenav ul ul li{
        border-bottom: 1px solid white;
    }
    #sidenav ul li:hover>ul{
    display:block;
    }
    .nav1{
        position: relative;
        z-index: 2;
        background-color: aliceblue;
    }
    .right i{
        font-size: 5px;
        margin: 0px .5px;
    
    }
    .nav2{
        width: 100%;
        height: 70px;
        
    
    }
    .nav2 .nav2-left i{
        margin-left: 0px;
    }
    .nav2 .nav2-center h1{
        font-size: 1.5rem;
        letter-spacing: 2px;
        
    }
    .nav2 .nav2-center p{
        color: grey;
        font-size: 10px;
        margin-top: 5px;
    }
    .nav2 .nav2-right i{
        margin: 0px 4px;

    }
    .nav3{
        display:none;
    }
    .featured{
        background-attachment: fixed;
    }
    .latest{
        padding: 0px 50px;
    
    }
    .product-intro{
        text-align: center;
    }
    .product-intro h1{
        color: rgb(160, 56, 56);
        letter-spacing: 0.25rem;
        font-size: 2rem;
        font-weight: bolder;
    }
    .product-intro h1 span{
        color:  rgb(94, 14, 14) ;
    }
    .product-intro p{
        color: grey;
        margin: 14px 0;
    
    }
    .card-container{

        margin: 2rem 0;
        
    }
    .card-container .card{
        flex-basis: 100%;
        padding: 0.8rem;
        position:relative;
        text-align: center;

    }
    .card image{
        width:100%;
        transition: 0.5s ease-in-out;
    }
    .card i{
        color: rgb(211, 28, 28);
        margin: 10px 0;
    
    }
    .card button{
        color:aliceblue;
        background-color: grey;
        border:none;
        outline: none;
        margin-top: 12px;
        padding: 5px 20px;
    }
    .trends{
        padding: 25px 50px;
        background-color: rgba(0,0,0,0.2);
     }
      .trends .swiper-container {
        width: 100%;
        padding: 50px;
        
      }
    
      .trends .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 350px;
        height: 350px;
      }
    
      .trends .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
      }
      footer div{
        flex-basis: 50%;
        margin: 10px 0;
      }
    }

